{% extends "layout.html" %}
{% block title %}LOGIN PAGE{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
{% endblock %}
{% block content %}
<div class="vertical" style="padding-top: 40px">
    <div class="customLogo loginLogoBox horizontal textOrange">
        <img class="navbarLogo marginRight16" src="/static/kkyul.png" alt="🍊">
        <span style="font-family: 'EF_jejudoldam'">뀰보드</span>
        <img class="navbarLogo marginLeft16" src="/static/kkyul.png" alt="🍊">
    </div>
    <div class="vertical">
        <form method="post" class="vertical">
            <input type="text" name="userid" placeholder="ID" class="customInput">
            <input type="password" name="userpw" placeholder="Password" class="customInput">
            <button class="button2 marginTop16">로그인</button>
        </form>
        <div id="loginBottomArea">
            <a href="{{ url_for('acc.signup') }}" class="button3">회원가입</a>
        </div>
    </div>
</div>

{% endblock %}