{% extends "layout.html" %}
{% block title %}PROFILE PAGE{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
<script>
    function loadFile(input) {
        let file = input.files[0]; // 선택한 파일 가져오기

        // 이미지를 표시할 공간 가져오기
        let container = document.getElementById('image-show');

        // 이전 이미지가 있는 경우 제거
        while (container.firstChild) {
            container.removeChild(container.firstChild);
        }

        // 새로운 이미지 요소 생성
        let newImage = document.createElement("img");
        newImage.style.width = "100%"; // 이미지 너비 설정
        newImage.style.height = "100%"; // 이미지 높이 설정
        newImage.style.objectFit = "cover"; // 이미지가 div에 맞게 잘리지 않도록 설정

        // 파일 URL을 이미지의 src 속성으로 설정하여 미리보기 표시
        newImage.src = URL.createObjectURL(file);

        // 이미지를 이미지 표시 공간에 추가
        container.appendChild(newImage);
    }
</script>
<style>
    .changePass{
        background-color: transparent;
        border: none;
    }
    .changeValueText{
        background-color: transparent;
        border: none;
        width: 500px;
    }
</style>
{% endblock %}
{% block content %}
<h3 class="customHeader">
    내 정보
</h3>
<div class="margin_bottom">
    <div class="custom_row">
        <div class="custom_row_key">프로필 사진</div>
        <div class="custom_row_value">
            <form class="horizontal" method="post" enctype="multipart/form-data"> <!-- 이미지 파일 데이터에 알맞는 enctype 설정 -->
                <div class="addImage" id="image-show">
                    {% if current_user.userpic %}
                    <img src="{{ url_for('static', filename=current_user.userpic) }}"
                        style="width: 100%; height: 100%; object-fit: cover;">
                    {% else %}
                    <img src="/static/noimage.png" style="width: 100%; height: 100%; object-fit: cover;">
                    {% endif %}
                </div>
                <input type="file" accept="image/*" onchange="loadFile(this)">
            </form>
        </div>
    </div>
    <div class="custom_row">
        <div class="custom_row_key">계정등급</div>
        <div class="custom_row_value">{% if current_user.grade %}관리자 계정{% else %}사용자 계정{% endif %}</div>
    </div>
    <div class="custom_row">
        <div class="custom_row_key">아이디</div>
        <div class="custom_row_value">{{ current_user.username }}</div>
    </div>
    <div class="custom_row">
        <div class="custom_row_key">패스워드</div>
        <div class="custom_row_value">
            <span class="passwordForm">
                <input type="password" class="changePass" style="width:0">
            </span>
            <button id="passChBtn" class="btn btn-theme-color btn-sm" onclick="createPassForm()">수정하기</button>
        </div>
    </div>
    <div class="custom_row">
        <div class="custom_row_key">이메일</div>
        <div class="custom_row_value">{{ current_user.email }}</div>
    </div>
    <div class="custom_row">
        <div class="custom_row_key">계정 생성일</div>
        <div class="custom_row_value">{{ current_user.created_at.strftime("%Y-%m-%d %H:%M") }}</div>
    </div>
    <div class="custom_row">
        <div class="custom_row_key">자기 소개</div>
        <div class="custom_row_value">
            <textarea class="changeValueText" disabled>{{ current_user.comment }}</textarea>
            <button id="commChBtn" class="btn btn-sm btn-theme-color" onclick="createTextForm()">수정하기</button>
        </div>
    </div>
</div>

<!-- 수정된 버튼과 모달 코드 -->
<div class="button_area">
    <button type="button" class="buttonGreen margin_right " data-bs-toggle="modal" data-bs-target="#passwordModal"
        data-action="update">
        정보 수정
    </button>
    <button type="button" class="buttonDanger" data-bs-toggle="modal" data-bs-target="#passwordModal"
        data-action="delete">
        계정 삭제
    </button>
</div>

<!-- 패스워드 검증 모달 -->
<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordModalLabel">패스워드 확인</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 패스워드 입력 폼 -->
                <div class="mb-3">
                    <label for="passwordInput" class="form-label">패스워드</label>
                    <input type="password" class="form-control" id="passwordInput">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="confirmButton">확인</button>
            </div>
        </div>
    </div>
</div>



<script>
    
    function createPassForm(){
        var btn = document.querySelector("#passChBtn");
        var passwordForm = document.querySelector(".passwordForm");
        var inputForm = document.querySelector(".changePass");

        if(btn.innerHTML == "수정하기"){
            btn.innerHTML = "수정완료"
            btn.setAttribute("class", "btn btn-sm changePass btn-sub-color");
            inputForm.removeAttribute('style');
            inputForm.removeAttribute('disabled');
            inputForm.focus();
        }else{
            btn.innerHTML = "수정하기"
            inputForm.setAttribute('disabled',"true");
            btn.setAttribute("class", "btn btn-sm changePass btn-theme-color");          
        }
    }

    function createTextForm(){
        const btn = document.querySelector("#commChBtn");
        const commentArea = document.querySelector('.changeValueText')
        if(btn.innerHTML == "수정하기"){
            btn.innerHTML = "수정완료"
            btn.setAttribute("class", "btn btn-sm btn-sub-color");
            commentArea.removeAttribute('disabled');
            commentArea.focus();
            commentArea.setSelectionRange(commentArea.value.length, commentArea.value.length);
        }else{
            btn.innerHTML = "수정하기"
            btn.setAttribute("class", "btn btn-sm btn-theme-color");
            // 이전 값으로 textarea를 갱신
            console.log(commentArea);
            commentArea.setAttribute('disabled', 'true');        
        }
    }

    document.addEventListener("keydown", function(event) {
        const passBtn = document.querySelector("#passChBtn");
        const commBtn = document.querySelector("#commChBtn");

        // 패스워드 수정 버튼이 클릭된 상태에서 Enter 키가 눌렸을 때
        if (event.key === "Enter" && passBtn.innerHTML == "수정완료") {
            createPassForm();
        }
        
        // 자기 소개 수정 버튼이 클릭된 상태에서 Enter 키가 눌렸을 때
        if (event.key === "Enter" && commBtn.innerHTML == "수정완료") {
            createTextForm();
        }
    });
    

    document.addEventListener('DOMContentLoaded', function () {
        const passwordModal = document.getElementById('passwordModal');
        const modalOpen = false;
        passwordModal.addEventListener('hide.bs.modal', function (event) {
            const modalOpen = false;
        });
        passwordModal.addEventListener('show.bs.modal', function (event) {
            const modalOpen = true;
            const button = event.relatedTarget;
            const action = button.getAttribute('data-action');
            const form = document.getElementById('passwordForm');
            const url = '/acc/' + action + "User";

            // 확인 버튼 클릭 시 동작 설정
            const confirmButton = document.getElementById('confirmButton');
            confirmButton.addEventListener('click', handleConfirmation);

            // Enter 키 입력 시 동작 설정
            passwordModal.addEventListener('keypress', function (e) {
                if (modalOpen && e.key === 'Enter') {
                    handleConfirmation();
                }
            });

            function handleConfirmation() {

                const passwordInput = document.getElementById('passwordInput').value.trim();
                // 패스워드 체크
                console.log(passwordInput);

                fetch('/acc/checkPassword', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        password: passwordInput
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.isValid) {
                            if (action == "update") {
                                const form = document.createElement('form');
                                form.setAttribute('method', 'POST');
                                form.setAttribute('enctype', 'multipart/form-data');
                                form.setAttribute('action', url);

                                const fileInput = document.querySelector('input[type="file"]');
                                const profilePic = fileInput.files[0];
                                document.querySelector('.changePass').removeAttribute('disabled');
                                const newPassword = document.querySelector('.changePass').value.trim();
                                document.querySelector('.changeValueText').removeAttribute('disabled');
                                const newComment = document.querySelector('.changeValueText').value.trim();
                                
                                // 이미지 파일 추가
                                if (profilePic) {
                                    const profilePicInput = document.createElement('input');
                                    profilePicInput.setAttribute('type', 'file');
                                    profilePicInput.setAttribute('name', 'changePic');
                                    profilePicInput.files = fileInput.files;
                                    form.appendChild(profilePicInput);
                                }
                                // 패스워드 추가
                                const passwordInput = document.createElement('input');
                                passwordInput.setAttribute('type', 'text');
                                passwordInput.setAttribute('name', 'changePass');
                                passwordInput.value = newPassword;
                                form.appendChild(passwordInput);

                                // 자기소개글 추가
                                const commentInput = document.createElement('input');
                                commentInput.setAttribute('type', 'text');
                                commentInput.setAttribute('name', 'changeComment');
                                alert(newComment);
                                commentInput.value = newComment;
                                form.appendChild(commentInput);

                                // form을 body에 추가하고 전송
                                document.body.appendChild(form);
                                form.submit();
                            } else if (action == "delete") {
                                fetch(url, {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                })
                                    .then(response => {
                                        if (!response.ok) {
                                            throw new Error('Network response was not ok');
                                        }
                                        return response.json(); // 응답 데이터를 JSON 형식으로 파싱하여 반환
                                    })
                                    .then(data => {
                                        window.location.href = '/acc/index';
                                    })
                                    .catch(error => {
                                        console.error('Error:', error);
                                    });
                            }
                        } else {
                            location.reload();
                        }
                    })
                    .catch(error => console.error('Error:', error));
            }
            // 모달이 열릴 때 패스워드 입력란에 포커스 주기
            setTimeout(function () {
                const passwordInput = document.getElementById('passwordInput');
                passwordInput.focus();
            }, 500);

        });
    });
</script>

{% endblock %}