.table thead th {
    text-align: center;
    font-weight: normal;
    background-color: rgba(250, 193, 126, 0.3);
}

.table th:nth-child(1) {
    width: 8%;
}

.table th:nth-child(2) {
    width: 56%;
}

.table th:nth-child(3) {
    width: 12%;
}

.table th:nth-child(4) {
    width: 16%;
}

.table th:nth-child(5) {
    width: 8%;
}

.board-text-line h2 {
    font-size: 18px;
    display: inline;
}

.board-text-line h3 {
    font-size: 16px;
    display: inline;
}

.board-text-line .post-count {
    font-weight: 700;
}

.btn-theme-color,
.btn-theme-color:hover {
    background-color: rgba(255, 169, 63, 0.9);
    color: #FFFFFF;
}

.btn-sub-color,
.btn-sub-color:hover {
    background-color: rgba(94, 180, 117, 0.9);
    color: #FFFFFF;
}

.page-nav .page-nav-item {
    margin-left: 12px;
    margin-right: 12px;
    color: #222222;
}

.page-nav .page-nav-item-current {
    margin-left: 9px;
    margin-right: 9px;
    color: #FAC17E;
    border: 1px solid #FAC17E;
    border-radius: 5px;
    padding: 3px 10px;
}

.board-td-custom {
    color: #222222;
}

.table-rounded {
    border-radius: 10px;
    /* Adjust the value to change the roundness */
}