<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/board.css') }}">
    <style>
        

    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    
    <nav id="Nav">
        <div class="navContainer">
            <a class="navLogo" href="{{ url_for('board.index') }}">🍊 뀰보드</a>
            <div>
                <!-- logined user -->
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('acc.profile') }}" class="btn navBtn">내 정보</a>
                    <a href="{{ url_for('acc.logout') }}" class="btn navBtn">로그아웃</a>
                <!-- anonymous user -->
                {% else %}
                    <a href="{{ url_for('acc.login') }}" class="btn navBtn">로그인</a>
                    <a href="{{ url_for('acc.signup') }}" class="btn navBtn">회원가입</a>
                {% endif %}
            </div>
        </div>
    </nav>
    
    <div class="alertcon">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="alert" class="alert alert-info alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                        <li>{{ message[1] }}</li>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
<script>
    // 3초 후에 알림 창을 숨기는 함수
    function hideAlert() {
    var alertBox = document.getElementById("alert");
    alertBox.classList.add("fade-out"); // fade-out 클래스 추가하여 투명도를 조정하여 숨김
    setTimeout(function() {
        alertBox.style.display = "none"; // display 속성을 none으로 변경하여 숨김
    }, 1000); // 1초 후에 숨김 처리
    }

    // 페이지 로드 후 3초 후에 hideAlert 함수 호출
    window.onload = function() {
    setTimeout(hideAlert, 2000); // 3초 후에 hideAlert 함수 호출
    };
</script>
</html>

{% block script %}
{% endblock %}