{% extends "layout.html" %}
{% block title %}CREATE POST{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
{% endblock %}
{% block content %}
<div>
    <form id="createPostForm" method="post">
        <div class="horizontal margin_bottom">
            <textarea name="title" id="custom_title" class="margin_right" placeholder="제목을 입력해 주세요" required></textarea>
            <div class="horizontal">
                <div class="horizontal margin_right">
                    <input name="secretCheck" type="checkbox" id="check1">
                    <label for="check1" class="margin_right_2"></label>
                    비밀글
                </div>
                <button type="submit" class="button1" onclick="submitCreatePost()">등록</button>
            </div>
        </div>
        <div>
            <textarea name="problemUrl" id="custom_url" placeholder="문제 URL을 입력해 주세요"></textarea>
        </div>
        <textarea name="body" id="custom_contents" placeholder="내용을 입력해 주세요" required></textarea>
    </form>
</div>
<script>
    function submitCreatePost() {
        document.getElementById("createPostForm").submit();
    }
</script>
{% endblock %}