{% extends "layout.html" %}
{% block title %}POST DETAIL{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/2.1.3/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block content%}
<div class="container">
    <div class="center">
        <div class="main">
            <div class = "title">
                <span style="font-size: x-large;">{{post.title}}</span>
                <span>작성자 {{post.user_id.username}}</span>
            </div>
            <div class="mainText">
                <div class="markdownView">{{post.body}}</div>
            </div>
        </div>
    </div>
    <!--
    ==================================================================
                                방명록
    ==================================================================
    -->
    
        <div class="row mt-4">
            <div class="col">
                <div class="comment-text-line">
                    <h3> 🍊 좋아요</h3>
                    <h3 id="like-count"></h3>
                    <h3>댓글</h3>
                    <h3 id="comment-count"></h3>
                    <h3>개</h3>
                </div>
            </div>
            <table class="table postTable comment-table">
                <tbody id="comment-table-body">
                <tr>
                    <td>아이디</td>
                    <td>
                        <div class="collapse show" id="collapse-comments-0">
                            내용
                        </div>
                        <div class="collapse" id="collapse-comments-0">
                            <form>
                                <textarea id="update-comment-text" class="form-control" rows="3"></textarea>
                                <input type="hidden" id="update-comment-id" value="1">
                                <button type="submit" class="btn btn-primary comment-update-btn">수정 완료</button>
                            </form>
                        </div>
                    </td>
                    <td>
                        날짜
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-comments-0">
                            수정
                        </button>
                        <button class="btn btn-primary" type="button">
                            삭제
                        </button>
                    </td>
                </tr>
                <!--
                여기에 방명록 데이터가 추가됩니다.
                -->
                </tbody>
            </table>
            {% if current_user.is_authenticated %}
            <div class="row">
                <form id="comment-form">
                    <div class="col-11">
                        <textarea id="text-comments" class="form-control" rows="3" placeholder="남기실 말씀을 적어주세요."
                                name="comments"></textarea>
                    </div>
                    <div class="col">
                        <button id="btn-register" type="submit" class="btn btn-primary mt-2">등록</button>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/comment.js') }}"></script>
<script>
    const post_id = {{ post.post_id }}
    addEventListenersToElements(post_id);
    refreshCommentList(post_id);

    document.addEventListener('DOMContentLoaded', function() {
        // .markdownView 요소를 선택합니다.
        var markdownView = document.querySelector('.markdownView');
    
        // 마크다운으로 처리할 내용입니다.
        var markdownContent = markdownView.textContent;

        // 마크다운을 HTML로 변환하여 .markdownView에 삽입합니다.
        markdownView.innerHTML = marked(markdownContent);
    });
</script>

{% endblock %}