{% extends "layout.html" %}
{% block title %}POST DETAIL{% endblock %}
{% block head %}

<style scoped>
.main {
    padding: 50px 80px;
    margin-top: 80px;
    width: 1200px;
    display: block;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 3px solid #fabe57;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainText {
    padding: 10px;
}
</style>

<div class="container">
    <div class="center">
        <div class="main">
            <div class = "title">
                <span style="font-size: x-large;">임시 제목입니다</span>
                <span>작성자 김시은</span>
            </div>
            <div class = "mainText">
            <span class="text">import collections<br>
            from typing import List<br>

            class Solution:<br>
            def maxSlidingWindow(self, nums: List[int], k: int) -> List[int]:<br>
            results = []<br>
            window = collections.deque()<br>
            current_max = float('-inf')<br>
            <br>알고리즘이란 컴퓨터가 따라 할 수 있도록 문제를 해결하는 절차나 방법을 자세히 설명하는 과정이다. 이를 자세히 설명하면 컴퓨터를 활용한 문제 해결 과정에서 주어진 문제를 해결하는 일련의 방법 또는 절차이며, 문제해결
            방법을 순서대로, 절차대로 나열한 것이라고 볼 수 있다.</span>
            </div>

        </div>
    </div>
    <!--
    ==================================================================
                                방명록
    ==================================================================
     -->
    <div class="comment-container">
        <div class="row mt-4">
            <div class="col">
                <div class="comment-text-line">
                    <h3> 🍊 좋아요</h3>
                    <h3 id="like-count"></h3>
                    <h3>댓글</h3>
                    <h3 id="comment-count"></h3>
                    <h3>개</h3>
                </div>
            </div>
            <table class="table postTable comment-table">
                <tbody id="comment-table-body">
                <tr>
                    <td>아이디</td>
                    <td>
                        <div class="collapse show" id="collapse-comments-0">
                            내용
                        </div>
                        <div class="collapse" id="collapse-comments-0">
                            <form>
                                <textarea id="update-comment-text" class="form-control" rows="3"></textarea>
                                <input type="hidden" id="update-comment-id" value="1">
                                <button type="submit" class="btn btn-primary comment-update-btn">수정 완료</button>
                            </form>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-comments-0">
                            수정
                        </button>
                    </td>
                </tr>
                <!--
                여기에 방명록 데이터가 추가됩니다.
                -->
                </tbody>
            </table>
            {% if current_user.is_authenticated %}
            <div class="row">
                <form id="comment-form">
                    <div class="col-11">
                        <textarea id="text-comments" class="form-control" rows="3" placeholder="남기실 말씀을 적어주세요."
                                  name="comments"></textarea>
                    </div>
                    <div class="col">
                        <button id="btn-register" type="submit" class="btn btn-primary mt-2">등록</button>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/comment.js') }}"></script>
<script>
    const post_id = {{ post.post_id }}
    addEventListenersToElements(post_id);

    {#refreshCommentList(post_id);#}
</script>

{% endblock %}