{% extends "layout.html" %}
{% block title %}CREATE POST{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
{% endblock %}
{% block content %}
<div class="customBody">
    <form id="editPostForm" method="post">
        <div class="horizontal margin_bottom">
            <textarea name="title" id="custom_title" class="margin_right" placeholder="제목을 입력해 주세요"
                required>{{ post.title }}</textarea>
            <div class="horizontal">
                <div class="horizontal margin_right">
                    <input name="secretCheck" type="checkbox" id="check1" {% if post.secret_mode %}checked{% endif %}>
                    <label for="check1" class="margin_right_2"></label>
                    비밀글
                    <input type="hidden" name="secretValue" id="secretValue"> <!-- hidden input 추가 -->
                </div>
                <button type="submit" class="button1" onclick="submitEditPost()">수정</button>
            </div>
        </div>
        <div>
            <textarea name="problemUrl" id="custom_url" placeholder="문제 URL을 입력해 주세요">{{ post.problem_url }}</textarea>
        </div>
        <textarea name="body" id="custom_contents" placeholder="내용을 입력해 주세요" required>{{ post.body }}</textarea>
    </form>
</div>
<script>
    function submitEditPost() {
        var checkBox = document.getElementById("check1");
        var secretValue = checkBox.checked; // 체크박스가 체크되었는지 여부에 따라 true 또는 false 값을 가져옴
        document.getElementById("secretValue").value = secretValue; // hidden input에 값을 설정
        document.getElementById("editPostForm").submit();
    }
</script>
{% endblock %}