{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
    <div class="container">
        
        <div>
            <div class="row mt-4">
                <div class="col align-items-center d-flex">
                    <div class="board-text-line">
                        <h2>조회 결과</h2>
                        <h2 class="post-count">{{ postsCount }}</h2>
                        <h2>건</h2>
                        <h3>/ 총 {{ pag.total }}건</h3>
                    </div>
                </div>

                <div class="col justify-content-end d-flex">
                    <div class="col mb-2 justify-content-end d-flex">
                        <select id="sort-by-select" class="form-select form-select-color-custom form-select-size-custom"
                                aria-label="">
                            <option value="recent" {% if sort=='recent' %}selected{% endif %}>최신순</option>
                            <option value="old" {% if sort=='old' %}selected{% endif %}>오래된순</option>
                            <option value="click" {% if sort=='click' %}selected{% endif %}>조회순</option>
                        </select>
                    </div>

                    {% if isLogin %}
                        <a href="{{ url_for('board.createPost') }}" class="btn btn-theme-color ms-3 mb-2">글작성</a>
                    {% endif %}
                    <a href="{{ url_for('board.index') }}" class="btn btn-primary mb-2 ms-3">검색 초기화</a>
                </div>
            </div>

            <table class="table postTable table-bordered">
                <thead>
                <tr>
                    <th class="postNum">게시글 번호</th>
                    <th class="postTitle">제목</th>
                    <th class="postWriter">작성자</th>
                    <th class="postDate">작성일</th>
                    <th class="postHit">조회수</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for notice in notices %}
                    <tr class="noticePost">
                        <td>{% if notice.secret_mode %}📢 임원공지{% else %}📢 공지{% endif %}</td>
                        <td style="text-align: left;">
                            <a class="board-td-custom" href="{{ url_for('board.detail', post_id=notice.post_id)}}">{{ notice.title }}</a>
                            {% if notice.secret_mode %}🔒{% endif %}
                        </td>
                        <td>{{ notice.user.username }}</td>
                        <td>{{ notice.updated_at.strftime("%Y-%m-%d %H:%M") }}</td>
                        <td>{{ notice.click_count }}</td>
                    </tr>
                {% endfor %}
                {% for post in pag.items %}
                    <tr>
                        <td>{{ stIdx - loop.index0 }}</td>
                        <td style="text-align: left;">
                            <a class="board-td-custom" href="{{ url_for('board.detail', post_id=post.post_id)}}">{{ post.title }}</a>
                            {% if post.secret_mode %}🔒{% endif %}
                        </td>
                        <td>{{ post.user.username }}</td>
                        <td>{{ post.updated_at.strftime("%Y-%m-%d %H:%M") }}</td>
                        <td>{{ post.click_count }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        
        <form>
            <div class="row">
                <div class="col-lg-2">
                    <select name="cate" class="form-select form-select-color-custom form-select-size-custom" aria-label="" style="width: 100%;">
                        <option value="title" {% if cate=='title' %}selected{% endif %}>제목</option>
                        <option value="writer" {% if cate=='writer' %}selected{% endif %}>작성자</option>
                        <option value="content" {% if cate=='content' %}selected{% endif %}>내용</option>
                    </select>
                </div>
                <div class="col-lg-8">
                    <input type="text" name="keyword" value="{{keyword}}" class="form-control">
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-theme-color" style="width: 100%;">검색</button>
                </div>
            </div>
        </form>


        <div class="page-nav mt-4">
            <div class="col justify-content-center d-flex align-items-center">
                <!-- Pagination Links -->
                {% if pag.has_prev %}
                    <a class="page-nav-item" href="{{ url_for('board.index', page=pag.prev_num, sort=sort, cate=cate, keyword=keyword) }}"><</a>
                {% endif %}

                {% for page_num in pag.iter_pages() %}
                    {% if page_num %}
                        {% if page_num != pag.page %}
                            <a class="page-nav-item" href="{{ url_for('board.index', page=page_num, sort=sort, cate=cate, keyword=keyword) }}">{{ page_num }}</a>
                        {% else %}
                            <a class="page-nav-item-current">{{ page_num }}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}

                {% if pag.has_next %}
                    <a class="page-nav-item" href="{{ url_for('board.index', page=pag.next_num, sort=sort, cate=cate, keyword=keyword) }}">></a>
                {% endif %}
            </div>
        </div>






    </div> <!-- /container -->

    <script>
        // select 요소에서 변경이 일어날 때마다 호출되는 함수
        var selectElement = document.getElementById('sort-by-select');
        selectElement.addEventListener('change', function (event) {
            // 선택된 옵션의 값을 가져옴
            let redirectTo = `index?page={{pag.page}}&sort=${event.target.value}&cate={{cate}}&keyword={{keyword}}`;
            window.location.href = redirectTo;
        });
    </script>
{% endblock %}

